<div class="row">
    <div class="col">
        <h1>*ngif</h1>
        <hr>
        <div *ngIf="mostrar" class="card border-primary mb-3" style="max-width: 100%;">
            <div class="card-body text-primary">
              <h5 class="card-title">{{frase.autor}}</h5>
              <p class="card-text">{{frase.mensaje}}</p>
            </div>
        </div> 
        <button (click)="mostrar = !mostrar" class="btn btn-outline-danger">{{mostrar ? 'Ocultar' : 'Mostrar'}}</button>         
    </div>
    <div class="col">
        <h1>*ngfor</h1>
        <hr>
        <ul class="list-group">
            <li *ngFor="let personaje of personajes; let i = index" class="list-group-item">        
                <strong>{{i+1}}</strong> {{personaje}}   
            </li>
        </ul>
    </div>
</div>